In [4]:
#import dependencies for csv and pandas df
import pandas as pd
csv_data = "../Resources/Final_Obesity_Covid.csv"
OCovid_df = pd.read_csv(csv_data)
OCovid_df.head(3)

         St  population  Covid Deaths   %Deaths  %Obesity
0    Alaska      731545          1457  0.001992      29.8
1   Alabama     4903185         21138  0.004311      35.6
2  Arkansas     3017804         13062  0.004328      34.5

In [5]:
#import all dependencies for Sqlalchemy
from sqlalchemy import create_engine
import sqlite3

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Boolean



# Import and establish Base for which classes will be constructed 
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

engine = create_engine('sqlite://', echo=False)

In [6]:
conn = sqlite3.connect('../Resources/Final_Obesity_Covid.sqlite')
OCovid_df.to_sql('covid', conn, if_exists='replace', index=True)

51